body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}
.App{
    position: relative;
}

.row-container{
    display: flex;
}
.place{
    border: 3px solid rgb(189, 189, 189);
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.GameHeader{
    background-color: rgba(189, 189, 189, 0.606);
    color: #2b2929;
    padding: 22px;
    border-top-right-radius: 33px;
}

.GameIfo{
    display: flex;
    justify-content: center;
    gap: 22px;
}

select{
background-color: transparent;
border: none;
border-bottom: 3px solid black;
color: #ff4a02;
font-weight: bold;
}
select:focus{
    outline: none;
}
button{
    outline: none;
    display: block;
    margin: 20px auto;
    border: none;
    width: 50%;
    padding: 12px 20px;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
}

.winner{
    color: rgb(112, 178, 13);
    font-weight: bold;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 25%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    animation: 22s showHide forwards;
    -webkit-animation: 22s showHide forwards;
}
@keyframes showHide {
    to {
        opacity: 0;
    }
}